* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 'Lato', sans-serif;
}

body {
    font: inherit;
}

body {
    padding: 2em;
}

h2 {
    margin-top: 2em;
}

code {
    display: block;
    padding: 2em;
    border-radius: 0.3em;
    margin: 2em 0;
    border: 1px solid #ccc;
    overflow: auto;
    background: #eee;
}

select {
    display: inline-block;
    padding: 0.5em 0.8em;
    border: 2px solid #ccc;
    border-radius: 0.3em;
    background-color: #eee;
}