* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.container {
    width: 350px;
    border-radius: 3px;
    background-color: #fff; 
    margin: 60px auto;
    padding: 20px 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header h3 {
    font-size: 1.2em;
}

header hr {
    width: 100px;
    height: 1px;
    background-color: #ccc;
    border: 0;
    margin: 20px 0;
    border-radius: 2px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    position: relative;
    font-size: 13px;
    color: #000;
}

span.required {
    color: red;
}

form input {
    border: 2px solid #ccc;
    border-radius: 3px;
    outline: none;
    padding: 10px 5px;
    position: relative;
}

form input:focus {
    border-color: #FF8C00;
}

i {
    font-weight: bold;
    color: #333;
    opacity: 70%;
    font-size: 12px;
    margin-bottom: 20px;
}

.fa-key,
.fa-envelope {
    font-size: 13px;
    color: #000;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
}

input[type="submit"] {
    background-color: #FF8C00;
    color: #fff;
    border-radius: 4px;
    padding: 15px 30px;
    font-weight: inherit;
    font: inherit;
    border: 0;
    cursor: pointer;
}