header {
    padding-left: 20px;
    padding-top: 20px;
}

nav a {
    text-decoration: none;
    color: navy;
}

li:nth-child(1) {
    font-weight: bold;
}

li:nth-child(3) {
    font-style: italic;
}

.title {
    text-shadow: 0.5px 0.5px 1px #000000;
}

.arrows {
    color: red;
    font-weight: bold;
}

.service div {
    background-color: lightpink;
    text-shadow: 0.5px 0.5px 0.5px #7e7c7c;
}

.more-details img {
    padding: 10px;
    background-color: silver;
}