* {
    padding: 10px;
}

div {
    border: 2px solid #000000;
    padding: 10px;
}

div.uniform {
    margin: 20px;
}

div.non-uniform {
    margin: 10px 30px 20px 40px;
}

div.negative {
    margin: -20px;
}