@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

header {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    z-index: 10;
    position: fixed;
}

header .header-container {
    width: 100%;
    padding: 20px 100px;
    display: flex;
}

header .logo-container {
    width: 30%;
}

header .logo-container img {
    flex: 1 1 auto;
    max-width: 100%;
}

header .nav-menu {
    width: 70%;
    display: flex;
    list-style: none;
    gap: 15px;
    justify-content: right;
    align-items: center;
    font-weight: 500;
    color: #444;
}

header .nav-menu li {
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
}

header .nav-menu li:hover {
    border-bottom: 1px solid #9B5DC6;
    animation: ease-in-out;
    transition: border-bottom 0.5s linear;
}

.nav-menu #log-in {
    text-transform: capitalize;
    padding: 5px 15px;
    border-radius: 35px;
    background-color: #9B5DC6;
    color: #fff;
    font-size: 0.9rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: none;
}

.nav-menu #log-in:hover {
    background-color: #fff;
    color: #9B5DC6;
    border: 1px solid #9B5DC6;
}

main {
    width: 100%;
    padding-top: 86px;
}

.diploma {
    width: 100%;
    display: flex;
    background-color: #fff;
}

.diploma .text-container {
    width: 60%;
    padding: 40px 0 40px 100px;
}

.diploma .text-container h2 {
    margin-bottom: 30px;
    color: #43394f;
}

.diploma .text-container p {
    color: #333;
    margin-bottom: 20px;
}

.diploma .text-container .disclaimer {
    font-size: 0.8rem;
    font-style: italic;
    opacity: 60%;
    margin-bottom: 10px;
    font-weight: 500;
}

.diploma .img-container {
    width: 40%;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.diploma .img-container img {
    position: absolute;
    z-index: 3;
    bottom: 40px;
    left: 70px;
    max-width: 100%;
}

.diploma .img-container .half-circle {
    background-color: #54546D;
    border-radius: 50%;
    width: 600px;
    height: 600px;
    position: absolute;
    bottom: 50px;
    right: -10px;
    z-index: 1;
}

.diploma .img-container .half-circle > * {
    position: absolute;
    bottom: 100px;
    right: 70px;
    z-index: 3;
}

.certificates {
    width: 100%;
    background-color: #14162B;
    color: #fff;
    padding: 100px 0 100px 100px;
}

.certificates .text-container {
    width: 60%;
    position: relative;
}

.certificates .text-container h2 {
    margin-bottom: 20px;
}

.text-container img {
    position: absolute;
    max-width: 100%;
    top: 0;
    right: -450px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.career {
    background-color: #fff;
    display: flex;
    width: 100%;
    padding: 60px 100px;
    gap: 40px;
}

.career .text-container h2 {
    margin-bottom: 30px;
    margin-top: 5px;
    color: #43394f;
}

.career .text-container p {
    margin-bottom: 30px;
    color: #333;
}

.career .text-container a {
    padding: 10px 25px;
    color: #9B5DC6;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid #9B5DC6;
    border-radius: 35px;
}

footer {
    width: 100%;
    color: #fff;
    background-color: #2C2C3A;
    padding: 30px 100px;
}

footer .links {
    width: 100%;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .links .column {
    width: calc(25% - 80px);
}

footer .links .column h3 {
    text-transform: uppercase;
    color: #9B5DC6;
    margin-bottom: 20px;
}

footer .links .column ul {
    list-style: none;
    text-transform: capitalize;
    font-size: 0.9rem;
}

footer .links .column ul li {
    margin-bottom: 8px;
}

.column .icons-container {
    width: 100%;
    display: flex;
    gap: 20px;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 20px;
}

.column .copyright {
    width: 100%;
}

.column .copyright .smaller {
    font-size: 0.8rem;
    margin-top: 10px;
}

@media (max-width: 610px) {
    header .header-container {
        padding: 20px 15px;
    }

    .logo-container a {
        display: flex;
    }

    header .nav-menu {
        flex-wrap: wrap;
        font-size: 0.8rem;
    }

    .diploma .text-container {
        padding-left: 10px;
    }

    .diploma .img-container .half-circle {
        width: 400px;
        height: 400px;
        right: -200px;
        bottom: 100px;
    }

    .diploma .img-container .half-circle > * {
        bottom: 100px;
        left: 50px;
        z-index: 3;
    }

    .diploma .img-container img {
        left: 0;
        bottom: 80px;
    }

    .certificates {
        padding: 30px;
    }

    .certificates .text-container {
        width: 50%;
    }

    .certificates img {
        top: 50%;
        transform: translateY(-50%);
        right: -280px;
    }

    .career {
        width: 100%;
        padding: 20px 20px 30px 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        text-align: center;
    }

    footer .links {
        gap: 10px;
        text-align: center;
    }

    footer .links .column {
        width: 100%;
    }

    footer .links .icons-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}