html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

section {
    min-height: 70%;
    position: relative;
    background-image: url('./images/image1.jpg');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    box-sizing: border-box;
}

header {
    margin: 0;
    text-align: center;
    color: #fff;
    font-family: "Lato", system-ui;
    font-size: 1.8em;  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}