* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #eee;
    font-family: "Lato", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 60%;
    background-color: white;
    padding: 0px 20px 30px 20px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}