* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 'Lato', sans-serif;
}

body, input {
    font: inherit;
}

body {
    padding: 2em;
}

h2 {
    margin-top: 2em;
}

code {
    display: block;
    padding: 2em;
    border-radius: 0.3em;
    margin: 2em 0;
    border: 1px solid #ccc;
    overflow: auto;
    background: #eee;
}

fieldset {
    padding: 2em;
    border: 2px solid #ccc;
    max-width: 50ch;
}

fieldset legend {
    padding: 0 1em;
    font-weight: bold;
}

fieldset label {
    font-weight: bold;
}

fieldset input {
    display: block;
    width: 100%;
    padding: 0.5em 0.8em;
    border: 2px solid #ccc;
    outline: none;
    border-radius: 0.3em;
}

.field {
    padding-bottom: 1.5em;
}

fieldset input:focus {
    border-color: #090;
}