* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato", system-ui;
    font-size: 13px;
}

.keyboard {
    background-color: #DDDDDD;
    border: 1px solid #333;
    border-bottom: 3px solid #333;
    border-radius: 5px;
    color: #333;
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.keyboard > * {
    display: flex;
    gap: 10px;
}

div {
    cursor: pointer;
    border: 1px solid #333;
    border-bottom: 3px solid #333;
    flex-grow: 1;
    color: #333;
    border-radius: 3px;
    text-align: center;
}

.row-4 {
    width: 90%;
}

.grey-btn {
    padding: 5px;
    background-color: #eee;
}

.white-btn {
    width: 40px;
    padding: 15px 0;
    background-color: #fff;
}

#backspace {
    flex-grow: 3;
    padding: 15px 5px;
}

#tab {
    flex-grow: 3;
    padding: 15px 5px;
}

#enter {
    flex-grow: 5;
    padding: 15px 5px;
    position: relative;
}

#enter::after {
    position: absolute;
    content: '';
    left: 15px;
    top: 45px;
    height: 60px;
    width: 80px;
    background-color: #eee;
    border: 1px solid #333;
    border-top: 0;
    border-bottom: 3px solid #333;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#caps-lock {
    flex-grow: 3;
    padding: 15px 5px;
}

div:hover,
#enter:hover::after {
    background-color: #333;
    color: #fff;
    transition: 0.2s ease-in-out;
}

#shift-small {
    flex-grow: 2;
    padding: 15px 5px;
}

#shift-large {
    flex-grow: 7;
    padding: 15px 5px;
}

#space {
    flex-grow: 12;
}