* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 2px solid green;
    padding: 20px 20px 0 20px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

/* Centering with flex*/
section {
    border: 2px solid blue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
    
section h3,
section p {
    width: 60%;
}

/* Centering with vw and padding

section {
    border: 2px solid blue;
    padding: 20px;
    width: calc(100vw - 20vw);
    margin: 0 auto;
}

section h3,
section p {
    width: calc(100vw - 40vw); 
    margin: 0 auto;
} */

@media (max-width: 800px) {
    section {
        padding: 20px 0;
    }
    section h3,
    section p {
        width: 100%;
    }
}